:root {
	--fg: #eee;
	--bg: #333;
	
	--button-fg: #fff;
	--button-bg: transparent;
	--button-hover-bg: #555;
	--button-active-bg: #777;
	
	--checker-light: hsl(0 0% 25%);
	--checker-dark: hsl(0 0% 75%);
	--checker-size: 20px 20px;
}

* {
	box-sizing: border-box;
}

body {
	background: var(--bg);
	color: var(--fg);
	font-family: sans-serif;
	position: fixed;
	inset: 0;
	display: grid;
	grid-template-rows: min-content auto;
	min-width: 0;
	min-height: 0;
	/* overflow: auto; */
}

main {
	display: grid;
	grid-template-rows: 1fr auto auto;
	grid-template-columns: min-content auto;
	grid-template-areas:
		"nav output"
		"nav canvases"
		"status status"
	;
	align-items: start;
	min-width: 0;
	min-height: 0;
}

header {
	font-size: 120%;
	text-align: center;
}

#output {
	grid-area: output;
	display: flex;
	flex-flow: row wrap;
	gap: 0.5ex;
	padding: 0.5ex;
	align-content: start;
	min-width: 0;
	min-height: 0;
	height: 100%;
	overflow-y: auto;
}

#output .contents {
	display: contents;
}

#status {
	grid-area: status;
	text-align: center;
	padding: 0.2ex;
	padding-top: 0.5ex;
}

.intro {
	flex-basis: 100%;
}

#output .icon {
	height: 32px;
	cursor: pointer;
}

#output .icon:hover {
	outline: 1px solid white;
	transform: scale(1.2);
}

.button .icon {
	height: 1.5em;
}

#buttons {
	min-height: 0;
	height: 100%;
	overflow-y: auto;
	grid-area: nav;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	gap: 0.5ex;
	padding: 0.5ex;
	padding-right: 0.5em;
}

.button {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 0.2ex 0.5em;
	background: var(--button-bg);
	color: var(--button-fg);
	gap: 1em;
}

.button:hover {
	background: var(--button-hover-bg);
}

.button.active {
	background: var(--button-active-bg);
}

footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#canvases {
	grid-area: canvases;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 1em;
	padding: 0.5ex;
	background-color: var(--checker-light);
	background-image: conic-gradient(
		transparent 90deg,
		var(--checker-dark) 90deg 180deg,
		transparent 180deg 270deg,
		var(--checker-dark) 270deg
	);
	background-size: var(--checker-size);
	min-width: 0;
	width: 100%;
	overflow-x: clip;
}

canvas {
	cursor: pointer;
}

a, a:active, a:focus, a:visited {
	color: var(--fg);
}

#status.alert {
	--pulse-color-start: black;
	--pulse-color-end: rgb(0, 127, 0);
  
	background-color: var(--pulse-color-start);
	animation: pulseKeyframes 0.5s ease-in-out infinite alternate;
}

#status.error {
	--pulse-color-start: black;
	--pulse-color-end: rgb(127, 0, 0);
  
	background-color: var(--start-color);
	animation: pulseKeyframes 0.5s ease-in-out infinite alternate;
}

@keyframes pulseKeyframes {
  from {
    background-color: var(--pulse-color-start);
  }
  to {
    background-color: var(--pulse-color-end);
  }
}
